.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.success {
    position: relative;
    background-color: #fff;
    max-width: 500px;
    width: 90%;
    color: #000;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-position: center;
    background-image: url('../../public/images/icons8-close.svg');
}

.close:hover {
    border: 1px solid;
    transform: scale(1.5);
    border-radius: 50%;
}