.loginBtn {
    width: 34px;
    height: 34px;
    cursor: pointer;
    border: none;

}

.googleBtn {
    background: transparent url("../assets/icons8-google.svg") no-repeat;
    background-size: cover;

}

.githubBtn {
    background: transparent url("../assets/icons8-github.svg") no-repeat;
    background-size: cover;
}